
<div class="container mt-4">
  <h1 class="text-success mt-4">Employee CRUD using .net api core</h1>
  <div class="row">
  <div class="col-8">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">SN</th>
          <th scope="col">CardHolderName</th>
          <th scope="col">CardNumber</th>
          <th scope="col">ExpiryMonth</th>
          <th scope="col">ExpiryYear</th>
          <th scope="col">CVC</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of employeeArr; let i = index">
          <th scope="row">{{i + 1}}</th>
          <td>{{item.cardholderName}}</td>
          <td>{{item.cardNumber}}</td>
          <td>{{item.expiryMonth}}</td>
          <td>{{item.expiryYear}}</td>
          <td>{{item.cvc}}</td>
          <td>
            <button class="btn btn-success btn-sm" type="btn" (click)="editEmployee(item.id)">Edit</button>
            <button class="btn btn-danger btn-sm" type="btn" (click)="deleteEmployee(item.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <form>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="">CardHolderName</label>
            <input class="form-control" type="text" name="cardholderName" [(ngModel)]="employeeObject.cardholderName">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="">CardNumber</label>
            <input class="form-control" type="text" name="cardNumber" [(ngModel)]="employeeObject.cardNumber">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="">ExpiryMonth</label>
            <input class="form-control" type="number" name="expiryMonth" [(ngModel)]="employeeObject.expiryMonth">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="">ExpiryYear</label>
            <input class="form-control" type="number" name="expiryYear" [(ngModel)]="employeeObject.expiryYear">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="">CVC</label>
            <input class="form-control" type="number" name="cvc" [(ngModel)]="employeeObject.cvc">
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <button class="btn btn-success" type="submit" (click)="formSubmit()" *ngIf="employeeObject.id == undefined">Submit</button>
        <button class="btn btn-success" type="submit" (click)="formEdit(employeeObject.id)" *ngIf="employeeObject.id != undefined">Edit</button>
      </div>
    </form>
  </div>
</div>
</div>

